@page "/adminproducts/edit/{id:int}"
@using ProductShopDemo.DTO;
@using ProductShopDemo.Models
@using ProductShopDemo.Services
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<h1>Edit Product</h1>

@if (productModel == null)
{
        <p>Loading...</p>
}
else
{
    <EditForm Model="@productModel">

        <h2>Product ID = @productModel.Id</h2>

    </EditForm>
}

@code {
    ProductDTO productModel = new ProductDTO();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        productModel = await ProductService.GetProductAsync(Id);
    }

    private async Task<ProductDTO> OnSubmit()
    {
        var productInputDTO = new ProductInputDTO();

        productInputDTO.Name = productModel.Name;
        productInputDTO.Description = productModel.Description;
        productInputDTO.Price = productModel.Price;
        productInputDTO.ProductSubtype = productModel.ProductSubtype;
        productInputDTO.ProductSubtypeId = productModel.ProductSubtypeId;


        var res = await ProductService.UpdateProductAsync(productInputDTO);
        return res;
    }
}
